<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>list: click<a href="https://baidu.com"> this</a></p>
<table>
        <thead>
                表格
                <tr>
                    <th><a class="btn btn-primary bt-1" role="button">
                    <p>点击这里</p>
                    </a> 
                    <th>旗舰版</th>
                    <th>专业版</th>
                    <th>标准版</th> 
                    <th>基础版</th>                                                
                </tr>
            </thead>

            <tbody>
                    <tr>
                        <td scope="row">高级套餐</td>
                        <!-- scope定义了行或列的表头 ：row就是行表头 -->
                        <td>$400/m</td>
                        <td>$200/m</td>
                        <td>$100/m</td>
                        <td>$50/m</td>
                    </tr>

                    <tr>
                        <td scope="row">关键词</td>
                            <!-- scope定义了行或列的表头 ：row就是行表头 -->
                        <td>3000</td>
                        <td>1500</td>
                        <td>500</td>
                        <td>110</td>
                        
                        </tr>
                        </tbody>
</table>